<!DOCTYPE html>
<html>
   <head>
      <title>Search Results for {{ query }}</title>
   </head>
   <body>
      <h1>Search Results for {{ query }}</h1>
      <div class="search-container">
         <form action="/search">
            <input type="text" name="q" value="{{ query }}" required>
            <button type="submit">Search</button>
         </form>
      </div>
      <ul>
         {% for track in tracks %}
         <li>
            <a href="{{ track.href['spotify'] }}">
            {{ track.name }}
            </a>
            <p>
               Artists:
            <ul>
               {% for artist in track.artists %}
               <li>
                  <a href="{{ artist.external_urls['spotify'] }}">
                  {{ artist.name }}
                  </a>
               </li>
               {% endfor %}
            </ul>
            </p>
            <a href="{{ track.preview_url }}">
            Preview
            </a>
            <p></p>
            <a href="/recommend/{{track.id}}">
            Give me some recommendations!
            </a>
            <p></p>
         </li>
         {% endfor %}
      </ul>
      <a href="/">
      Go home
      </a>
   </body>
</html>
